.device_on {
  background-color: var(--cinza1);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.device_on:hover {
  background-color: var(--verde);
  color: white;
  cursor: pointer;
}

.device_off {
  background-color: var(--cinza2);
}

.device-data_cards {
  display: flex;
  padding: 1rem;
  margin: 0.4rem 0;
  flex-wrap: wrap;
  gap: 2rem;
}

.device-data_card {
  height: 150px;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  margin: 0.4rem 0;
  color: var(--cinza3);
  font-size: 20px;
  min-width: 256px;
  font-weight: bold;
  max-width: 500px;
  border-radius: 12px;
  transition: 0.15s;
}

.addFarm{
  height: 150px;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  margin: 0.4rem 0;
  color: var(--cinza2);
  font-size: 20px;
  min-width: 278px;
  font-weight: bold;
  max-width: 500px;
  border-radius: 12px;
  transition: 0.15s;
  background-color: var(--cinza1);
  font-size: 6rem;

}

.addFarm:hover{
  background-color: var(--cinza2);
  color: white;
  transition: 0.15s;
  cursor: pointer;
}

.icon-container{
  max-width: 100%;
  width: 50px;
  height: 50px;
  align-self: center;
  margin-top: 45px;
}
.device-data_card p {
  font-size: 1rem;
}

.device-data_card__infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.device-data_card__btt {
  width: 75px;
  height: 50px;
  background-color: var(--branco);
  float: right;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.device-data_card__btt svg {
  width: 35px;
  height: 35px;
  margin: 0.4rem;
  fill: var(--cinza2);
}

.device-data_card__painel {
  position: relative;
  bottom: 10px;
}


.production-management {
  padding: 0 1rem;
  width: calc(100% - 400px);
  min-width: 320px;
}

.production-management_title {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  color: var(--cinza4);
  margin-bottom: 0.5rem;
}

.production-management_title > div {
  background-color: rgba(0, 0, 0, 0.2);
  height: 1px;
  width: 50%;
  min-width: 150px;
  margin-left: 1rem;
}

.production-management_infos {
  display: flex;
  gap: 2rem;
}

.production-management_infos span {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #bebebe;
}

.production-management_infos h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
}

/* gráficos*/

#gauge1,
#gauge2 {
  width: 100%;
  min-width: 160px;
  height: auto;
}

@media only screen and (max-width: 850px) {
  .production-management {
    width: 100%;
  }
}
