.panel-body {
  background-color: var(--branco);
}

.panel-header {
  display: flex;
  padding: 2rem 0;
  justify-content: space-between;
  background-color: white;
}

.panel-header div:first-child {
  margin-right: 3.1rem;
  display: flex;
  align-items: center;
}

.panel-header_title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.2px;
  font-family: var(--poppins);
  color: var(--verde);
}

.panel-header_title:hover {
  cursor: pointer;
}

.panel-header_title span {
  font-size: 10px;
  color: var(--cinza3);
}

.panel-header_menu {
  padding: 0.4rem;
  background-color: var(--cinza1);
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 1px;
  border-radius: 5px;
}

.panel-header_menu:hover {
  border-color: var(--verde);
  background-color: var(--verde);
  cursor: pointer;
}

.panel-header_menu > i {
  width: 21px;
  height: 20px;
}

.panel-header_menu svg {
  width: 20px;
}

.panel-header_menu span {
  font-size: 14px;
}

.panel-header_menu button {
  border: none;
  background-color: transparent;
}

.panel-header_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.panel-header_container p {
  text-align: right;
  line-height: 15px;
  font-size: 0.8rem;
  color: var(--verde);
  word-break: keep-all;
}

.basic-info {
  display: flex;
  margin: 1rem;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 1rem;
  gap: 30px;
}

.basic-info_item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 256px;
  min-width: 160px;
  height: 61px;
  margin-right: 2rem;
  text-align: center;
  transition: 0.15s;
}

.basic-info a {
  width: 256px;
}

.navbar_on {
  background-color: var(--verde);
  border-radius: 8px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.navbar_off {
  background-color: var(--cinza2);
  border-radius: 8px;
}

.basic-info_item > span {
  font-size: 48px;
  font-weight: 700;
  margin-right: 2rem;
}

.basic-info_item div span {
  font-size: 14px;
  line-height: 17px;
}

.basic-info_item:hover {
  color: white;
  background-color: var(--verde);
  cursor: pointer;
}

.device-data {
  margin: 2rem 0;
}

.device-data_title h2 {
  font-size: 1.6rem;
  font-weight: 500;
  padding-left: 15px;
  letter-spacing: 0.2px;
  font-family: var(--poppins);
  color: var(--verde);
  margin: 0;
}

.history_card {
  padding: 0.5rem 2rem;
}

.history_card div {
  width: auto;
  height: 193px;
  background-color: var(--cinza2);
}

@media only screen and (max-width: 600px) {
  .basic-info_item > span {
    font-size: 34px;
  }

  .panel-header_title {
    white-space: nowrap;
    font-size: 1.5rem;
  }

  .basic-info_item div span {
    font-size: 12px;
  }

  .device-data_title {
    text-align: center;
  }

  .basic-info {
    margin: 0;
    justify-content: center;
  }

  .panel-header_menu {
    gap: 5px;
  }

  .device-data_cards {
    justify-content: center;
  }
  .panel-header_container p {
    display: none;
  }
}
